.header {
  display: flex;
  justify-content: space-between;

}

.header-left {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;


  img {
    width: 30px;
    height: 30px;
  }
}

.header-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  padding: 2px 30px 3px 30px;
  border-radius: 10px;
  box-shadow: 0px -4px 0px 0px #10212A inset;
  background-color: #1F3641;


  img {
    height: 20px;
    width: 20px;
  }

  h3 {

    font-family: Outfit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    letter-spacing: 1px;
    text-align: center;
    color: #A8BFC9;

  }

}

.header-right {
  cursor: pointer;

  img {
    padding: 16px;
    background-color: #A8BFC9;
    box-shadow: 0px -4px 0px 0px #6B8997 inset;
    border-radius: 10px;

    &:active {
      box-shadow: 4px 4px 4px 0px #244455 inset;

    }
  }
}

.box-container {
  max-width: 460px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px 20px;
  justify-content: center;
  align-items: center;

  div {
    cursor: pointer;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F3641;
    box-shadow: 0px -8px 0px 0px #10212A inset;
    text-align: center;
    border-radius: 15px;

    &:active {
      box-shadow: 4px 4px 4px 0px #10212A inset;

    }

  }
}

.modal {
  border: none;
  background-color: #1F3641;
  width: 100%;

  h2 {
    margin-top: 45px;
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
    line-height: 17.64px;
    letter-spacing: 0.875px;
    text-align: center;
    color: #A8BFC9;

  }

  img {
    width: 64px;
    height: 64px;
  }

  h1 {
    padding: 16px;
    width: 150px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    letter-spacing: 1px;
    text-align: center;
    color: #1A2A33;
    background-color: #F2B137;
    box-shadow: 0px -4px 0px 0px #CC8B13 inset;
    border-radius: 10px;


  }

}

.modal-middle {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 24px;
  margin-top: 16px;


  h3 {
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
    line-height: 50.4px;
    letter-spacing: 2.5px;
    text-align: left;
    margin-top: 24px;


  }


}

.mavi {
  color: #F2B137;

}

.turuncu {
  color: #31C3BD;
}


.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;


  h3 {
    margin: 0%;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.12px;
    letter-spacing: 0.75px;
    text-align: center;

  }

  h2 {
    margin: 0;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    letter-spacing: 1.25px;
    text-align: center;

  }
}

.oPlayer {
  padding: 12px 24px;
  background-color: #F2B137;
  border-radius: 10px;
}

.xPlayer {
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #31C3BD;
}

.newGame {
  padding: 16px 20px;
  background-color: #A8BFC9;
  border-radius: 15px;
  cursor: pointer;

  h3 {
    font-family: Outfit;
    font-size: 15px;
    font-weight: 700;
    line-height: 30.24px;
    letter-spacing: 1.5px;
    text-align: center;


  }
}


@media (width <=460px) {


  .header {
    min-width: 300px;
    align-items: center;
  }

  .header-right {

    img {
      margin-top: 12px;


    }
  }

  .box-container {
    margin-top: 64px;

    div {
      width: 96px;
      height: 96px;
    }
  }

  .modal {



    h2 {
      font-size: 14px;
      margin-top: 40px;

    }

    h3 {
      font-size: 23px;
    }

    img {
      width: 21px;
      height: 21px;
    }
  }

  .header-middle {
    margin-top: 16px;
    display: flex;
    gap: 5px;
  }

  .footer {
    margin-top: 20px;
    display: flex;
    gap: 7px;
  }

}

.x {
  font-family: Rubik;
  color: #31C3BD;
  font-size: 50px;
  font-weight: 900;
}

.o {
  color: #F2B137;
  font-family: Rubik;
  font-size: 50px;
  font-weight: 900;

}